/* Futuristic Button Styles */
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #00aaff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 1rem 1rem 1rem;
}

.button:hover {
  background-color: #ff00aa;
}

.button:active {
  transform: scale(0.95);
}
