.todo {
  padding: 1rem 2rem;
  margin: 1rem 1rem;
}

.todo input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #00aaff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo input[type="checkbox"]:checked {
  background-color: #00aaff;
  border-color: #00aaff;
}
